@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-400.woff2') format('woff2');
  font-display: swap;
}


body {
  margin: 0;
  font-family: 'Inter', 'Arial, san-serif';
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.page-wrapper {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 200px;
  min-height: 100vh;
  background-color: #ffcbd8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 150px;
}

.header-title {
  margin: 0 0 50px 0;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  background-color: #FF2F64;
  color: #FFFFFF;
  box-shadow: 0 0 0 4px rgb(255 47 100 / 30%);
}

.buttons-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 45px;
  align-items: center;
  padding: 20px 150px;
}

.button {
  width: 350px;
  padding: 20px 15px;
  font-family: inherit;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  border: none;
  color: #FFFFFF;
  background-color: crimson;
  cursor: pointer;
}

.button-1 {
  background-color: #DE8A2A;
  border-radius: 35px;
}

.button-1:hover {
  transition-duration: 1s;
  transition-property: background-color;
  transition-timing-function: linear;
  background-color: #056DFA;
}

.button-2 {
  width: 50%;
  background-color: #30C04F;
  border-radius: 25px;
  padding: 20px 15px;
}

.button-2:hover {
  width: 100%;
  background-color: #26993f;
  transition-duration: 1s, 1s;
  transition-property: width, background-color;
  transition-timing-function: ease;
}

.button-3 {
  position: relative;
  color: #5D41DE;
  background-color: rgba(93, 65, 222, 0.5);
}

.button-3:hover {
  transition-duration: 1s;
  transform: scale(1.2);
}

.button-3::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%) scale(2.5);
  background-image: url('../images/settings.svg');
  background-repeat: no-repeat;
}

.button-4 {
  background-color: #FF342B;
}

.button-5 {
  color: #056DFA;
  background-color: #1B1B1C;
  border-radius: 40px;
}

.button-6 {
  background-color: #FF2849;
  border-radius: 50px;
}
